<h2>TMPop evidence</h2>
<div class="info">
  <h4>State</h4>
  <p>{{evidence.state}}</p>
  <h4>Chain ID</h4>
  <p>{{evidence.provider}}</p>

  <h4>Block #</h4>
  <p>{{evidence.proof.original.blockHeight}}</p>

  {{#if evidenceComplete}}
    <h4>App Hash</h4>
    <p>{{evidence.proof.original.header.app_hash}}</p>

    <h4>Leaf Hash</h4>
    <p>{{evidence.proof.original.merkleProof.LeafHash}}</p>

    <h4>MerklePath</h4>
    <pre>{{json evidence.proof.original.merkleProof.InnerNodes}}</pre>
  {{/if}}
</div>